<div id="left">
  <h2 class="possible-channel">HOSTS</h2>
  <ul>
    <li>PASCAL SPENGEMANN</li> 
    <li>NICELLE BEAUCHENE</li>
    <li>NAOMI FISHER</li>
    <li>MISHA NONOO</li>
    <li>MICHAEL NEVIN</li> 
    <li>MATTHEW HIGGS</li> 
    <li>KELLY TAXTER</li>
    <li>JOHNNY MISHEFF</li>
    <li>JIM DRAIN</li>
    <li>JAMES FUENTES</li>
    <li>JACK HANLEY</li>
    <li>HEATHER HUBBS</li> 
    <li>GLENN O'BRIEN</li>
    <li>DAN NADEL</li>
    <li>CASEY SPOONER</li> 
    <li>CASEY NEISTAT</li> 
    <li>CAROLYN RAMO</li>
    <li>BRIDGET DONAHUE</li> 
    <li>BRIAN DEGRAW</li>
    <li>AMIE SCALLY</li> 
    <li>ALEXANDER GILKES</li> 
    <li>ADAM ABDALLA</li>
    <li>TAAVO SOMER</li>
  </ul>
  <h2>BBQ + DRINKS</h2>
  <h2>ARTS + CRAFTS</h2>
<!--   <h2>+</h2>
  <h2>ARTS</h2>
  <h2>+</h2>
  <h2>CRAFTS</h2> -->
  <br>
  <h2>FREE</h2>
  <h2>+</h2>
  <h2>OPEN</h2>
  <h2>TO</h2>
  <h2>EVERYONE</h2>
</div>

<div id="middle">
  <h2>FRIENDS &amp; FAMILY PRESENTS</h1>
  <br>
  <img src="http://d2ss1gpcas6f9e.cloudfront.net/q/resize/250%3E/auto_orient/true/src/http%3A%2F%2Fs3.amazonaws.com%2Farena_images%2F55139%2Foriginal_2d2d0072a523da11744c9f053b97afef.png">
</div>

<div id="content">

</div>

<div id="right">
  <h3 class="possible-channel">DJS</h3>
  <ul>
    <li>TIM BARBER</li>
    <li>NELLEKE MCCOWAN</li>
    <li>NEKTAR DE STAGNI</li>
  </ul>
  <h3 class="possible-channel">GROUP BEACH PAINTING</h3>
  <ul>
    <li>TYSON REEDER</li>
    <li>SCOTT REEDER</li>
  </ul>
  <h3 class="possible-channel">INSTALLATIONS</h3>
  <ul>
    <li>KORAKRIT ARUNANONDCHAI</li>
    <li>MOLLY LOWE</li>
  </ul>
  <h3 class="possible-channel">NAIL ART</h3>
  <ul>
    <li>VANITY PROJECTS</li>
  </ul>
  <h3 class="possible-channel">SCULPTURE +<br/>PERFORMANCE</h3>
  <ul>
    <li>JORY RABINOVITZ</li>
    <li>PATRICK WALSH</li>
    <li>NGUZUNGUZU</li>
  </ul>
  <h3 class="possible-channel">INSTALLATIONS</h3>
  <ul>
    <li>SCOTT INGRAM</li>
    <li></li>
    <li>JUSTIN H. LONG</li>
    <li>TIMOTHY STANLEY</li>
    <li>P. SCOTT CUNNINGHAM</li>
  </ul>
  <h3 class="possible-channel">MUSICAL PERFORMANCE</h3>
  <ul>
    <li>DENT MAY</li>
  </ul>
  <h3 class="possible-channel"><a href="http://www.basfisherinvitational.com/WEIRD-MIAMI-bus-tour-wutz-uP">WEIRD MIAMI BUS TOURS</a></h3>
  <ul>
    <li>BAS FISHER INVITATIONAL</li>
    <li>departing from NADA</li>  
  </ul>
</div>

<div id="bleft"><a href="mailto:rsvp@michellefinocchi.com">RSVP@MICHELLEFINOCCHI.COM</a></div>
<div id="bmiddle"><a href="http://are.na">SITE POWERED BY ARENA</a></div>
<div id="bright">DEAUVILLE / 6701 COLLINS AVENUE</div>
</div>
